<h1>Add new book</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "book_name">Book Name</label>:

<%= text_field 'books', 'bookname' %></p>
<p><label for = "book_author">Author</label>:

<%= text_field 'books', 'author' %></p>
<p><label for = "book_genre_id">Genre</label>:

<%= collection_select(:books, :genre_id, @genres, :id, :name, prompt: true) %></p>
<!--how to put iimage -->
<p><label for = "book_description">Description</label><br/>

<%= text_area 'books', 'description' %></p>
<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>